body{
  text-align:left;
  display: inline-block;
  width:950px;
  height:auto;

}

img {
  display:inline-block;
  width:22%;
}
.restoreButton{
  display:block;
  text-align:center;
  margin-left:39%;
  border:30px;
  color:white;
  background-color:black;
}
